<div class="container">
  <div class="row">
    <div class="col-lg-11 mx-lg-auto">
      <p id="notice"><%= notice %></p>

      <h1>Users</h1>

      <%= link_to 'New User', new_user_path, class: 'btn btn-primary mb-2 btn-lg', data: { bs_toggle: "modal", bs_target: "#newUserModal", remote: true } %>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="userTable">
          <% @users.each do |user| %>
            <tr id="user_<%= user.id %>">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.address %></td>
              <td><%= user.contact %></td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><%= link_to 'Show', user, data: { bs_toggle: "modal", bs_target: "#showUserModal", remote: true }, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Edit', edit_user_path(user), data: { bs_toggle: "modal", bs_target: "#editUserModal", remote: true }, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'dropdown-item' %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Create user modal popup -->
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModal">New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newUserForm">
      </div>
    </div>
  </div>
</div>

<!-- Edit user modal popup -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModal">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editUserForm">
      </div>
    </div>
  </div>
</div>

<!-- Show user modal popup -->
<div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showUserModal">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showUser">
      </div>
    </div>
  </div>
</div>
