<div class="container">
  <div class="row">
    <div class="col-lg-11 mx-lg-auto">
      <p id="notice"><%= notice %></p>

      <h1>Users</h1>

      <%= link_to 'New User', new_user_path, class: 'btn btn-primary mb-2 btn-lg' %>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.address %></td>
              <td><%= user.contact %></td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><%= link_to 'Show', user, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Edit', edit_user_path(user), class: 'dropdown-item' %></li>
                    <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
